@import url('https://fonts.cdnfonts.com/css/cyberpunk-is-not-dead');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.cdnfonts.com/css/do-futuristic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    /*font-family: 'Comfortaa';*/
    /*font-family: 'Cyberpunk Is Not Dead', sans-serif;*/
}

:root{
    /*-----------------------------------*/
    --clearneonBlue: #4deeea;
    --neonBlue: #00b8ff;
    --deepneonBlue: #4700ff;
    --clearneonPurple: #ff00b8;
    --neonPurple: #c610ae;
    --deepneonPurple: #B71DDE;

    --clearneonGreen: #00ff47;
    --neonGreen: #04e762;
    --deepneonGreen: #4cb944;
    --clearneonRed: #ff4700;
    --neonRed: #D22730;
    --deepneonRed: #860f0f;

    --clearneonYellow: #e5ec1a;
    --neonYellow: #FFDE00;
    --deepneonYellow: #deb00a;
    --clearneonViolet: #9400d3;
    --neonViolet: #663399;
    --deepneonViolet: #4b0082;
    
    --neonOrange:  #FFAD00;
    /*-----------------------------------*/
    --whitesmoke: rgb(229, 229, 229);
    --grey: rgb(106, 106, 106);
    --mediumgrey: rgb(80, 80, 80);
    --deepgrey: rgb(50, 50, 50);
    --clearblack: rgba(35, 35, 35, 0.5);
    --mediumblack: rgb(23, 23, 23);
    /*-----------------------------------*/
}

h1, h2{
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    font-size: 2rem;
}

p, span{
    color: whitesmoke;
    font-size: 20px;
}

a{
    text-decoration: none;
    position: relative;
    transition: all 350ms ease;
}

a::after{
    content: " ";
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    position: absolute;
    transition: all 350ms ease;
}

a:hover::after{
    width: 100%;
    transition: all 350ms ease;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mediumblack);
    padding: 0 15%;
    z-index: 0;
    transition: all 350ms ease;
}

section{
    margin-bottom: 3rem;
    min-width: 100%;
}

/* section navbar */

#navbar{
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    padding: 4px 15%;
    background-color: var(--deepgrey);
    border-bottom: 2px solid var(--neonRed);
    box-shadow: inset 0px 0px 10px var(--neonRed);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 350ms ease;
}

#navbar-content{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#navbar-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-title img{
    height: 100%;
    width: 45px;
    margin-right: 25px;
    margin-top: 6px;
}

#navbar-title h1{
    color: var(--clearneonBlue);
    text-shadow: 1.5px 1.5px 3px var(--clearneonPurple);
}

#navbar-links{
    display: flex;
    gap: 1rem;
    list-style: none;
}

#navbar-links a{
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    font-size: 15px;
    color: var(--neonRed);
    
}

#navbar-links a::after{
    background-color: var(--neonRed);
    box-shadow: 0px 0px 10px var(--neonRed);
}

#navbar-links a:hover{
    text-shadow: 1.5px 1.5px 3px var(--clearneonBlue);
}

#navbar-links li:hover{
    transform: scale(1.1);
    transition: all 350ms ease;
}

#navbar-links li{
    transition: all 350ms ease;
}

#navbar-login{
    padding: 10px;
    border: 2px solid var(--neonRed);
    border-radius: 5px;
}

#navbar-login:hover{
    border: 2px solid var(--neonBlue);
    box-shadow: inset 0px 0px 10px var(--clearneonBlue);
    transition: all 350ms ease;
    font-weight: bold;
}

#navbar-login:hover::after{
    width: 0%;
}

/* section banner */
#banner{
    margin-top: 9vh;
    height: 80vh;
    padding: 4% 2% 4% 0px;
    background-image: url(/Image/Banner\ Index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--neonBlue);
    box-shadow: inset 0px 0px 20px var(--clearneonBlue);
    border-radius: 10px;
}

#banner-content{
    /*display: flex;*/
    margin-left: -2px;
    padding: 10px;
    width: 100%;
    /*flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--mediumblack);*/
    background: linear-gradient(90deg, rgba(23,23,23,1) 20%, rgba(77,238,234,0) 100%);
}

#title-banner{
    color: var(--clearneonBlue);
    text-shadow: 1.5px 1.5px 3px var(--clearneonPurple);
}

.paragraph-banner{
    text-shadow: 0px 0px 10px var(--clearneonBlue);
    margin-bottom: 5px;
}

/* section about */

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#title-about{
    position: absolute;
    top: -20px;
    padding: 10px;
    background-color: var(--mediumblack);
    border: 2px solid var(--neonPurple);
    box-shadow: 0px 0px 10px var(--clearneonPurple);
    color: var(--clearneonPurple);
    text-shadow: 1.5px 1.5px 3px var(--clearneonBlue);
    border-radius: 5px;
}

#about-content{
    display: flex;
    justify-content: center;
    padding: 5rem 1.5rem 1.5rem;
    width: 100%;
    border: 2px solid var(--neonPurple);
    box-shadow: inset 0px 0px 20px var(--clearneonPurple);
    border-radius: 5px;
}

#about-content img{
    width: 400px;
    box-shadow: 0px 0px 15px;
    margin-right: 20px;
}

.paragraph-about{
     margin-bottom: 15px;
}

/* section campaings */

#campaings{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#title-campaings{
    position: absolute;
    top: -20px;
    padding: 10px;
    background-color: var(--mediumblack);
    border: 2px solid var(--neonYellow);
    box-shadow: 0px 0px 10px var(--clearneonYellow);
    color: var(--clearneonYellow);
    text-shadow: 1.5px 1.5px 3px var(--clearneonViolet);
    border-radius: 5px;
}

#campaing-content{
    display: flex;
    justify-content: center;
    padding: 5rem 1.5rem 1.5rem;
    width: 100%;
    border: 2px solid var(--neonYellow);
    box-shadow: inset 0px 0px 20px var(--clearneonYellow);
    border-radius: 5px;
}

#campaing-content img{
    width: 400px;
    box-shadow: 0px 0px 15px;
    margin-left: 20px;
}

#campaing-title{
    font-size: 30px;
    color: var(--clearneonYellow);
    text-shadow: 1.5px 1.5px 3px var(--clearneonViolet);
    margin-bottom: 15px;
}

/* section wiki highlights */

#wiki-highlights{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#title-wiki{
    position: absolute;
    z-index: 1;
    top: -20px;
    padding: 10px;
    background-color: var(--mediumblack);
    border: 2px solid var(--neonBlue);
    box-shadow: 0px 0px 10px var(--clearneonBlue);
    color: var(--clearneonBlue);
    text-shadow: 1.5px 1.5px 3px var(--clearneonPurple);
    border-radius: 5px;
}

#wiki-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1.5rem 1.5rem;
    width: 100%;
    border: 2px solid var(--neonBlue);
    box-shadow: inset 0px 0px 20px var(--clearneonBlue);
    border-radius: 5px;
}

.content-box{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 4.5rem;
    position: relative;
}

#content-characters{
    border-top: 2px solid var(--clearneonBlue);
}

#content-cities{
    border-top: 2px solid var(--neonRed);
}

.wiki-content-title{
    position: absolute;
    top: -15px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 20px;
}

#title-characters{
    background-color: var(--mediumblack);
    color: var(--clearneonBlue);
    text-shadow: 1.5px 1.5px 3px var(--clearneonPurple);
}

#title-cities{
    background-color: var(--mediumblack);
    color: var(--neonRed);
    text-shadow: 1.5px 1.5px 3px var(--clearneonGreen);
}

article{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
    background-color: var(--clearblack);
    border-radius: 5px;
}

#content-navigation{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
    bottom: -55px;
}

#content-navigation input{
    appearance: none;
    border-radius: 100%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#content-navigation input:hover{
    border-color: var(--neonYellow);
}

#content-navigation input:checked{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

#content-navigation input[name="radio-btn"]:checked{
    border-color: var(--neonBlue);
    box-shadow: inset 0px 0px 5px var(--clearneonBlue);
    transition: all 0.5s ease-in-out;
}

#content-navigation input[name="radio-btn"]:checked::after{
    content: "";
    display: block;
    border: 3px solid var(--neonBlue);
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
}

#content-navigation input[name="radio-btn-city"]:checked{
    border-color: var(--neonRed);
    box-shadow: inset 0px 0px 5px var(--clearneonRed);
    transition: all 0.5s ease-in-out;
}

#content-navigation input[name="radio-btn-city"]:checked::after{
    content: "";
    display: block;
    border: 3px solid var(--neonRed);
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
}

/* card dos personagens */

.content-characters{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.content-characters.content-characters-disable {
    display: none;
}

.card-character header{
    display: flex;
    align-items: center;
}

.card-character img{
    width: 200px;
    margin-right: 3rem;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 350ms ease;
}

.card-character img:hover{
    box-shadow: 0px 0px 10px var(--clearneonBlue);
    border: 2px solid var(--clearneonBlue);
    transition: all 350ms ease;
}

.character-name{
    font-size: 40px;
    font-weight: 100;
    font-family: 'DO Futuristic', sans-serif;
    color: var(--clearneonBlue);
    text-shadow: 0px 0px 5px var(--clearneonPurple);
}

.character-text{
    margin-bottom: 15px;
}

.card-character footer{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
}

#character-read-more{
    color: var(--clearneonBlue);
}

#character-read-more::after{
    background-color: var(--clearneonBlue);
    box-shadow: 0px 0px 10px var(--clearneonPurple);
}

#character-read-more:hover{
    text-shadow: 0px 0px 5px var(--clearneonPurple);
    transform: scale(1.1);
}

/* card das cidades */

.content-cities{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.content-cities.content-cities-disable {
    display: none;
}

.card-city{
    padding: 0;
}

.card-city header:hover{
    box-shadow: 0px 0px 10px var(--neonRed);
    border: 2px solid var(--neonRed);
    transition: all 350ms ease;
}

.card-city header{
    border: 2px solid transparent;
    transition: all 350ms ease;
}

#city-Alurën{
    height: 250px;
    background-image: url(/Image/Cidade\ Alurën.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 15px;
}

#city-Elysium{
    height: 250px;
    background-image: url(/Image/Cidade\ Elysium.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 15px;
}

#city-Loryzon{
    height: 250px;
    background-image: url(/Image/Cidade\ Loryzon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 15px;
}

#city-Ravena{
    height: 250px;
    background-image: url(/Image/Cidade\ Ravena.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 15px;
}

#city-Grimdal{
    height: 250px;
    background-image: url(/Image/Cidade\ Grimdal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 15px;
}

#city-IronholdKeep{
    height: 250px;
    background-image: url(/Image/Cidade\ Ironhold\ Keep.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 15px;
}

.city-name{
    padding: 10px;
    margin: -3px 0px 0px -2px;
    font-size: 40px;
    font-weight: 100;
    font-family: 'DO Futuristic', sans-serif;
    color: var(--neonRed);
    text-shadow: 0px 0px 5px var(--clearneonGreen);
    background: linear-gradient(90deg, rgba(23,23,23,0.9) 10%, rgba(77,238,234,0) 50%);
    border-top-left-radius: 5px;
}

.card-city .wiki-text{
    margin: 0px 15px 15px;
}

.card-city footer{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 10%;
    margin: 0px 15px 15px;
}

#city-read-more{
    color: var(--neonRed);
}

#city-read-more::after{
    background-color: var(--neonRed);
    box-shadow: 0px 0px 10px var(--clearneonGreen);
}

#city-read-more:hover{
    text-shadow: 0px 0px 5px var(--clearneonGreen);
    transform: scale(1.1);
}

/* section contact */

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#title-contact{
    position: absolute;
    top: -20px;
    padding: 10px;
    background-color: var(--mediumblack);
    border: 2px solid var(--neonViolet);
    box-shadow: 0px 0px 10px var(--clearneonViolet);
    color: var(--clearneonViolet);
    text-shadow: 1.5px 1.5px 3px var(--clearneonYellow);
    border-radius: 5px;
}

#contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5rem 1.5rem 1.5rem;
    border: 2px solid var(--neonViolet);
    box-shadow: inset 0px 0px 20px var(--clearneonViolet);
    border-radius: 5px;
}

#contact-content p{
    margin-bottom: 2rem;
    font-size: 25px;
    border-bottom: 2px solid var(--clearneonViolet);
}

#contact-content form{
    padding: 1rem;
    width: 50%;
    max-width: 700px;
    height: 20%;
    position: relative;
}

#form-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

#name-required,
#email-required,
#textarea-required{
    position: absolute;
}

#name-required{
    left: -10px;
    top: -10px;
    font-size: 18px;
    color: var(--neonRed);
}

#email-required{
    top: -10px;
    font-size: 18px;
    color: var(--neonRed);
}

#textarea-required{
    top: 65px;
    left: +7px;
    font-size: 18px;
    color: var(--neonRed);
}

input,
textarea{
    margin-bottom: 1rem;
    padding: 10px;
    outline: none;
    background-color: var(--clearblack);
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: var(--clearneonViolet);
    transition: all 350ms ease;
    position: relative;
}

input:focus,
textarea:focus{
    border-color: var(--neonYellow);
    box-shadow: inset 0px 0px 10px var(--clearneonYellow);
    color: var(--clearneonYellow);
    transition: all 350ms ease;
}

textarea{
    display: block;
    height: 150px;
}

button{
    display: flex;
    padding: 15px;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid var(--neonViolet);
    border-radius: 5px;
    color: var(--clearneonViolet);
    font-size: 18px;
    cursor: pointer;
    transition: all 350ms ease;
}

button:hover{
    transform: scale(1.2);
    border-color: var(--neonYellow);
    box-shadow: inset 0px 0px 10px var(--clearneonYellow);
    color: var(--clearneonYellow);
    transition: all 350ms ease;
}

/* footer */

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 3rem;
    background-color: var(--mediumblack);
    border-top: 2px solid var(--neonRed);
    box-shadow: inset 0px 0px 20px var(--neonRed);
}

#footer h2{
    color: var(--clearneonBlue);
    text-shadow: 1.5px 1.5px 3px var(--clearneonPurple);
    font-size: 25px;
    margin-bottom: 1rem;
}

#footer p{
    font-size: 18px;
}

/* telas maiores */

@media (min-width: 2000px) {
    #about-content img{
        width: 500px;
        margin: 0px 20px 15px 15px;
    }
    #campaing-content img{
        width: 500px;
        margin: 0px 15px 15px 20px;
    }
}

/* telas menores */

@media (max-width: 1445px) {
    main{
        padding: 0 10%;
        transition: all 350ms ease;
    }
    #navbar{
        padding: 4px 10%;
        transition: all 350ms ease;
    }
}

/* telas menores 2 */

@media (max-width: 1265px) {
    #navbar{
        height: 7vh;
        transition: all 350ms ease;
    }
    #navbar-title img{
        width: 35px;
        margin-right: 15px;
        transition: all 350ms ease;
    }
    #navbar-title h1{
        font-size: 25px;
        transition: all 350ms ease;
    }
    #navbar-links{
        gap: 0.6rem;
        transition: all 350ms ease;
    }
    #navbar-links a{
        font-size: 13px;
        transition: all 350ms ease;
    }
    #navbar-links li:hover{
        transform: none;
        transition: all 350ms ease;
    }
    #navbar-login{
        padding: 8px;
        border: 1px solid var(--neonRed);
        transition: all 350ms ease;
    }
    #navbar-login:hover{
        border: 1px solid var(--neonBlue);
    }
    #banner{
        margin-top: 6vh;
        transition: all 350ms ease;
    }
}

/* Tablets */

@media (max-width: 1060px) {
    main{
        padding: 0 5%;
        transition: all 350ms ease;
    }
    #navbar{
        padding: 4px 5%;
        height: 5vh;
        transition: all 350ms ease;
    }
    #navbar-title img{
        width: 30px;
        margin-right: 10px;
        transition: all 350ms ease;
    }
    #navbar-title h1{
        font-size: 20px;
        transition: all 350ms ease;
    }
    #banner{
        margin-top: 4vh;
        height: 60vh;
        transition: all 350ms ease;
    }
    #about-content img{
        width: 300px;
    }
    .paragraph-about{
        font-size: 16px;
    }
    #campaing-content img{
        width: 300px;
    }
    #campaing-title{
        font-size: 25px;
    }
    #campaing-text p{
        font-size: 16px;
    }
    .content-characters{
        gap: 0.5rem;
    }
    .content-cities{
        gap: 0.5rem;
    }
    .card-character img{
        width: 80%;
        margin-right: 0px;
        transition: all 350ms ease;
    }
    .character-name{
        font-size: 150%;
        margin-right: 30%;
    }
    .character-text p{
        font-size: 16px;
    }
    .city-name{
        font-size: 30px;
    }
    .wiki-text p{
        font-size: 16px;
    }
}

/* Tablets menores */

@media (max-width: 860px) {
    #navbar-title h1{
        display: none;
    }
    #about-content{
        align-items: center;
    }
    #about-content img{
        width: 200px;
    }
    .paragraph-about{
        font-size: 14px;
        margin-bottom: 6px;
    }
    #campaing-content img{
        width: 200px;
    }
    #campaing-title{
        font-size: 20px;
    }
    #campaing-text p{
        font-size: 14px;
    }
    #contact-content p{
        text-align: center;
        font-size: 18px;
        border-bottom: 2px solid var(--clearneonViolet);
    }
    #contact-content form{
        width: 80%;
    }
}

/* celulares */

@media (max-width: 655px) {
    h1, h2{
        font-size: 18px;
    }
    #navbar{
        height: 8vh;
    }
    #navbar-title img{
        display: none;
    }
    #navbar-content{
        justify-content: center;
    }
    #navbar-links{
        justify-content: center;
        flex-wrap: wrap;
    }
    #navbar-links a{
        font-size: 11px;
        transition: all 350ms ease;
    }
    #navbar-login{
        padding: 0;
        border: none;
        border-radius: none;
    }
    
    #navbar-login:hover{
        border: none;
        box-shadow: none;
        font-weight: normal;
    }
    #navbar-login::after{
        background-color: var(--neonRed);
        box-shadow: 0px 0px 10px var(--neonRed);
    }
    #navbar-login:hover::after{
        width: 100%;
    }
    #banner{
        margin-top: 7vh;
        height: 40vh;
        transition: all 350ms ease;
    }
    #banner p{
        font-size: 14px;
    }
    #about-content img{
        display: none;
    }
    #campaing-content img{
        display: none;
    }
    .content-characters{
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .content-cities{
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    article{
        width: 90%;
    }
    #city-Alurën{
        height: 120px;
    }
    #city-Elysium{
        height: 120px;
    }
    .city-name{
        font-size: 25px;
    }
    #contact-content form{
        width: 100%;
    }
    #footer h2{
        font-size: 20px;
        text-align: center;
    }
    #footer p{
        font-size: 16px;
        text-align: center;
    }
}

/* Celulares menores */

@media (max-width: 370px) {
    #navbar{
        height: 10vh;
    }
    #navbar-links{
        display: flex;
        gap: 0.8rem;
        list-style: none;
    }
    #navbar-links a{
        font-size: 8px;
        transition: all 350ms ease;
    }
    #banner{
        margin-top: 9vh;
        transition: all 350ms ease;
    }
}