@import url('https://fonts.cdnfonts.com/css/cyberpunk-is-not-dead');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.cdnfonts.com/css/do-futuristic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    /*font-family: 'Comfortaa';*/
    /*font-family: 'Cyberpunk Is Not Dead', sans-serif;*/
}

:root{
    /*-----------------------------------*/
    --clearneonBlue: #4deeea;
    --neonBlue: #00b8ff;
    --deepneonBlue: #4700ff;
    --clearneonPurple: #ff00b8;
    --neonPurple: #c610ae;
    --deepneonPurple: #B71DDE;

    --clearneonGreen: #00ff47;
    --neonGreen: #04e762;
    --deepneonGreen: #4cb944;
    --clearneonRed: #ff4700;
    --neonRed: #D22730;
    --deepneonRed: #860f0f;

    --clearneonYellow: #e5ec1a;
    --neonYellow: #FFDE00;
    --deepneonYellow: #deb00a;
    --clearneonViolet: #9400d3;
    --neonViolet: #663399;
    --deepneonViolet: #4b0082;
    
    --neonOrange:  #FFAD00;
    /*-----------------------------------*/
    --whitesmoke: rgb(229, 229, 229);
    --grey: rgb(106, 106, 106);
    --mediumgrey: rgb(80, 80, 80);
    --deepgrey: rgb(50, 50, 50);
    --clearblack: rgba(35, 35, 35, 0.5);
    --mediumblack: rgb(23, 23, 23);
    /*-----------------------------------*/
}

h1, h2{
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    font-size: 2rem;
}

p, span{
    color: whitesmoke;
    font-size: 20px;
}

a{
    text-decoration: none;
    position: relative;
    transition: all 350ms ease;
}

a::after{
    content: " ";
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    position: absolute;
    transition: all 350ms ease;
}

a:hover::after{
    width: 100%;
    transition: all 350ms ease;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mediumblack);
    padding: 0 10%;
    z-index: 0;
}

section{
    margin-bottom: 3rem;
    min-width: 100%;
}

img{
    width: 200px;
}

/* section navbar */

#navbar{
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    padding: 4px 10%;
    background-color: var(--deepgrey);
    border-bottom: 2px solid var(--neonRed);
    box-shadow: inset 0px 0px 10px var(--neonRed);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#navbar-content{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#navbar-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-title img{
    height: 100%;
    width: 45px;
    margin-right: 25px;
    margin-top: 6px;
}

#navbar-title h1{
    color: var(--clearneonBlue);
    text-shadow: 1.5px 1.5px 3px var(--clearneonPurple);
}

#navbar-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}

#navbar-links a{
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    font-size: 15px;
    color: var(--neonRed);
    
}

#navbar-links a::after{
    background-color: var(--neonRed);
    box-shadow: 0px 0px 10px var(--neonRed);
}

#navbar-links a:hover{
    text-shadow: 1.5px 1.5px 3px var(--clearneonBlue);
}

#navbar-links li:hover{
    transform: scale(1.2);
    transition: all 350ms ease;
}

#navbar-links li{
    transition: all 350ms ease;
}

#navbar-login{
    padding: 10px;
    border: 2px solid var(--neonRed);
    border-radius: 5px;
}

#navbar-login:hover{
    border: 2px solid var(--neonBlue);
    box-shadow: inset 0px 0px 10px var(--clearneonBlue);
    transition: all 350ms ease;
    font-weight: bold;
}

#navbar-login:hover::after{
    width: 0%;
}

/* section banner */
#banner{
    margin-top: 9vh;
    height: 80vh;
    padding: 4% 2% 4% 0px;
    background-image: url(/Image/Banner\ Index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--neonBlue);
    box-shadow: inset 0px 0px 20px var(--clearneonBlue);
    border-radius: 10px;
}

#banner-content{
    display: flex;
    margin-left: -2px;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--mediumblack);
    background: linear-gradient(90deg, rgba(23,23,23,1) 20%, rgba(77,238,234,0) 100%);
}

#title-banner{
    color: var(--clearneonBlue);
    text-shadow: 1.5px 1.5px 3px var(--clearneonPurple);
}

.paragraph-banner{
    text-shadow: 0px 0px 10px var(--clearneonBlue);
    margin-bottom: 5px;
}

/* section about */

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#title-about{
    position: absolute;
    top: -20px;
    padding: 10px;
    background-color: var(--mediumblack);
    border: 2px solid var(--neonPurple);
    box-shadow: 0px 0px 10px var(--clearneonPurple);
    color: var(--clearneonPurple);
    text-shadow: 1.5px 1.5px 3px var(--clearneonBlue);
    border-radius: 5px;
}

#about-content{
    display: flex;
    justify-content: center;
    padding: 5rem 1.5rem 1.5rem;
    border: 2px solid var(--neonPurple);
    box-shadow: inset 0px 0px 20px var(--clearneonPurple);
    border-radius: 5px;
}

#about-content img{
    width: 400px;
    box-shadow: 0px 0px 15px;
    margin-right: 20px;
}

.paragraph-about{
     margin-bottom: 15px;
}

/* section campaings */

#campaings{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#title-campaings{
    position: absolute;
    top: -20px;
    padding: 10px;
    background-color: var(--mediumblack);
    border: 2px solid var(--neonYellow);
    box-shadow: 0px 0px 10px var(--clearneonYellow);
    color: var(--clearneonYellow);
    text-shadow: 1.5px 1.5px 3px var(--clearneonViolet);
    border-radius: 5px;
}

#campaing-content{
    display: flex;
    justify-content: center;
    padding: 5rem 1.5rem 1.5rem;
    border: 2px solid var(--neonYellow);
    box-shadow: inset 0px 0px 20px var(--clearneonYellow);
    border-radius: 5px;
}

#campaing-content img{
    width: 400px;
    box-shadow: 0px 0px 15px;
    margin-right: 20px;
}

#campaing-title{
    font-size: 30px;
    color: var(--clearneonYellow);
    text-shadow: 1.5px 1.5px 3px var(--clearneonViolet);
    margin-bottom: 15px;
}

/* section wiki highlights */

#wiki-highlights{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#title-wiki{
    position: absolute;
    z-index: 1;
    top: -20px;
    padding: 10px;
    background-color: var(--mediumblack);
    border: 2px solid var(--neonBlue);
    box-shadow: 0px 0px 10px var(--clearneonBlue);
    color: var(--clearneonBlue);
    text-shadow: 1.5px 1.5px 3px var(--clearneonPurple);
    border-radius: 5px;
}

#wiki-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1.5rem 1.5rem;
    border: 2px solid var(--neonBlue);
    box-shadow: inset 0px 0px 20px var(--clearneonBlue);
    border-radius: 5px;
}

.content-box{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

#content-characters{
    border-top: 2px solid var(--clearneonBlue);
}

.wiki-content-title{
    position: absolute;
    top: -15px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 20px;
}

#title-characters{
    background-color: var(--mediumblack);
    color: var(--clearneonBlue);
    text-shadow: 1.5px 1.5px 3px var(--clearneonPurple);
}

article{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
    background-color: var(--clearblack);
    border-radius: 5px;
}

.card-character header{
    display: flex;
    align-items: center;
}

.card-character img{
    width: 200px;
    margin-right: 3rem;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 350ms ease;
}

.card-character img:hover{
    box-shadow: 0px 0px 10px var(--clearneonBlue);
    border: 2px solid var(--clearneonBlue);
    transition: all 350ms ease;
}

.character-name{
    font-size: 40px;
    font-weight: 100;
    font-family: 'DO Futuristic', sans-serif;
    color: var(--clearneonBlue);
    text-shadow: 0px 0px 5px var(--clearneonPurple);
}

.character-text{
    margin-bottom: 15px;
}

.card-character footer{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
}

#character-read-more{
    color: var(--clearneonBlue);
}

#character-read-more::after{
    background-color: var(--clearneonBlue);
    box-shadow: 0px 0px 10px var(--clearneonPurple);
}

#character-read-more:hover{
    text-shadow: 0px 0px 10px var(--clearneonPurple);
    transform: scale(1.1);
}

#navbar-links a::after{
    background-color: var(--neonRed);
    box-shadow: 0px 0px 10px var(--neonRed);
}

#navbar-links a:hover{
    text-shadow: 1.5px 1.5px 3px var(--clearneonBlue);
}